<form class="form-signin" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Sign Up</h2>
    <label for="username" class="sr-only">First Name</label>
    <br />
    <input type="text" id="firstName" name="firstName" ngModel class="form-control" placeholder="First Name" required autofocus [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
    <br />
    <label for="username" class="sr-only">Last address</label>
    <br />
    <input type="text" id="lastName" name="lastName" ngModel class="form-control" placeholder="Last Name" required [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
    <br />
    <label for="username" class="sr-only">Email address</label>
    <br />
    <input type="email" id="username" name="username" ngModel class="form-control" placeholder="User Name" required [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    <br />
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </div>

</form>
